$black: #021718;
$orange: #f5a05c;
$darkOrange: #ff7200;
$darkTeal: #01847f;
$teal: #44a1a0;
$grey: #07393c;

* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: $orange;
  color: $black;
  font-size: 24px;
  overflow-x: hidden;
}

.wrapper {
  max-width: 1200px;
  padding: 0px 15px;
  margin: 0 auto;
}

header {
  background-color: #fffffa;
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.1);
  .header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo {
      font-size: 40px;
      a {
        text-decoration: none;
        color: $black;
        font-weight: 800;
      }
    }
    nav ul {
      display: flex;
      li {
        padding-left: 15px;
        a {
          font-size: 18px;
          color: $black;
          text-decoration: none;
          text-transform: lowercase;
        }
      }
    }
  }
}

.hero {
  .hero-content {
    font-family: "Roboto", sans-serif;
    text-align: center;
    padding-top: 100px;
    h1 {
      line-height: 60px;
      font-weight: 900;
    }
    p {
      line-height: 30px;
      padding: 30px 0px 40px;
      max-width: 400px;
      margin: 0 auto;
    }
    .btn {
      cursor: pointer;
      background-color: $teal;
      color: white;
      padding: 10px 35px;
      border-radius: 8px;
    }
  }
  .hero-image {
    position: relative;
    z-index: 1;
    margin: 0 auto;
    margin-top: 50px;
    width: 300px;
    height: 300px;
    img {
      width: 100%;
      position: absolute;
      top: 0;
    }
    .hero-image-bg {
      position: relative;
      z-index: -1;
      width: 100%;
      height: 100%;
      transform: rotate(-5.47deg);
      background-color: $teal;
    }
  }
  .hero-links {
    margin: 0 auto;
    width: 300px;
    padding: 100px 0px 60px;
    display: flex;

    div {
      flex: 1;
      padding-right: 20px;
      display: flex;
      align-items: center;
      position: relative;
      a {
        position: absolute;
        z-index: 1;
        width: calc(100% - 20px);
        height: 100%;
      }
      img {
        width: 100%;
      }
    }
  }
}

@media (min-width: 769px) {
  .wrapper {
    padding: 0px 60px;
  }
  header {
    .header-wrapper {
      max-height: 70px;
      .logo {
        font-size: 64px;
      }
      nav ul li {
        padding-left: 30px;
      }
    }
  }
  .hero {
    .hero-body {
      height: 300px;
      margin-top: 80px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .hero-content {
        padding: 0px;
        max-width: 500px;
        text-align: left;
        h1 {
          font-size: 64px;
        }
        p {
          margin: 0;
        }
        .btn {
          transition: all 0.3s ease;
        }
        .btn:hover {
          background-color: $darkTeal;
        }
      }
      .hero-image {
        margin: 0;
        img {
          transition: all 0.3s ease;
          &:hover {
            transform: rotate(-5.47deg);
          }
        }
      }
    }
    .hero-links {
      width: 100%;
      margin: 0;
      padding: 65px 0 0;
      justify-content: left;
      div {
        max-width: 120px;
        padding-right: 42px;
        a {
          width: calc(100% - 42px);
        }
      }
    }
  }
}

@media (min-width: 1024px) {
  .wrapper {
    padding: 0px 120px;
  }
}
