* {
  margin: 0;
  padding: 0;
  list-style: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #f5a05c;
  color: #021718;
  font-size: 24px;
  overflow-x: hidden;
}

.wrapper {
  max-width: 1200px;
  padding: 0px 15px;
  margin: 0 auto;
}

header {
  background-color: #fffffa;
  -webkit-box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.1);
}

header .header-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header-wrapper .logo {
  font-size: 40px;
}

header .header-wrapper .logo a {
  text-decoration: none;
  color: #021718;
  font-weight: 800;
}

header .header-wrapper nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .header-wrapper nav ul li {
  padding-left: 15px;
}

header .header-wrapper nav ul li a {
  font-size: 18px;
  color: #021718;
  text-decoration: none;
  text-transform: lowercase;
}

.hero .hero-content {
  font-family: "Roboto", sans-serif;
  text-align: center;
  padding-top: 100px;
}

.hero .hero-content h1 {
  line-height: 60px;
  font-weight: 900;
}

.hero .hero-content p {
  line-height: 30px;
  padding: 30px 0px 40px;
  max-width: 400px;
  margin: 0 auto;
}

.hero .hero-content .btn {
  cursor: pointer;
  background-color: #44a1a0;
  color: white;
  padding: 10px 35px;
  border-radius: 8px;
}

.hero .hero-image {
  position: relative;
  z-index: 1;
  margin: 0 auto;
  margin-top: 50px;
  width: 300px;
  height: 300px;
}

.hero .hero-image img {
  width: 100%;
  position: absolute;
  top: 0;
}

.hero .hero-image .hero-image-bg {
  position: relative;
  z-index: -1;
  width: 100%;
  height: 100%;
  -webkit-transform: rotate(-5.47deg);
          transform: rotate(-5.47deg);
  background-color: #44a1a0;
}

.hero .hero-links {
  margin: 0 auto;
  width: 300px;
  padding: 100px 0px 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero .hero-links div {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.hero .hero-links div a {
  position: absolute;
  z-index: 1;
  width: calc(100% - 20px);
  height: 100%;
}

.hero .hero-links div img {
  width: 100%;
}

@media (min-width: 769px) {
  .wrapper {
    padding: 0px 60px;
  }
  header .header-wrapper {
    max-height: 70px;
  }
  header .header-wrapper .logo {
    font-size: 64px;
  }
  header .header-wrapper nav ul li {
    padding-left: 30px;
  }
  .hero .hero-body {
    height: 300px;
    margin-top: 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .hero .hero-body .hero-content {
    padding: 0px;
    max-width: 500px;
    text-align: left;
  }
  .hero .hero-body .hero-content h1 {
    font-size: 64px;
  }
  .hero .hero-body .hero-content p {
    margin: 0;
  }
  .hero .hero-body .hero-content .btn {
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .hero .hero-body .hero-content .btn:hover {
    background-color: #01847f;
  }
  .hero .hero-body .hero-image {
    margin: 0;
  }
  .hero .hero-body .hero-image img {
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .hero .hero-body .hero-image img:hover {
    -webkit-transform: rotate(-5.47deg);
            transform: rotate(-5.47deg);
  }
  .hero .hero-links {
    width: 100%;
    margin: 0;
    padding: 65px 0 0;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
  .hero .hero-links div {
    max-width: 120px;
    padding-right: 42px;
  }
  .hero .hero-links div a {
    width: calc(100% - 42px);
  }
}

@media (min-width: 1024px) {
  .wrapper {
    padding: 0px 120px;
  }
}
/*# sourceMappingURL=style.css.map */